 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
 @import "./style/reset.css";
 @import "./style/color.css";
 @import url("https://traquil-ui.netlify.app/styles.css");
html{
  font-family: 'Poppins', sans-serif;
}

.button{
  box-shadow: 0.5px 0.5px 10px var(--primary-color);
}

.l{
  padding:0.8rem 1.5rem;
}

.button-sec:hover{
  background-color: var(--secondary-color);
  transition: background-color 1s ease-out;
}
